name: Main Workflow

env:
  AWS_REGION: us-east-1
  SLS_INTERACTIVE_SETUP_ENABLE: '1'
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install Go Dependencies
        run: |
          go get -v -t -d ./...

      - name: Deploy Serverless Framework
        uses: serverless/github-action@v3.1
        with:
          region: ${{ env.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ env.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ env.AWS_SECRET_ACCESS_KEY }}
          stage: production
          source_location: 'serverless'

on:
  push:
    branches:
      - main