name: Main Workflow

version: 0.2

env:
  AWS_REGION: us-east-1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: latest

      - name: Install Go Dependencies
        run: |
          go get -v -t -d ./...

      - name: Deploy Serverless Framework
        uses: AWS-actions/aws-serverless-deployment-action@v1
        with:
          region: ${{ env.AWS_REGION }}
          access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          stage: production
          source_location: 'serverless'

on:
  push:
    branches:
      - main